# ISA Project 2024

# file: .gitignore
# brief: File contains list of files and directories that should be ignored by git.
# author: Jan Findra (xfindr01)

# Ignore executable
isa-top
# Ignore object files
*.o
# Ignore zip file
xfindr01.zip
# Ignore .vscode directory
.vscode